{% import '_includes/macros' as render %}

{% if block.statistics|length %}
{% for block in block.statistics.all() %}
{% if not text %}
<div class="col-lg-6 col-md-5 col-sm-6">
{% endif %}
    <div class="ttm-fid inside ttm-fid-with-icon ttm-fid-view-topicon style2 ttm-bgcolor-grey p-30 res-991-p-30">
        <div class="ttm-fid-icon-wrapper ttm-textcolor-skincolor">
            {% if block.icon|length %}
            {% set params = {
                icon: block.icon
            } %}
            {{ render.icon(params) }}
            {% endif %}
        </div>
        <div class="ttm-fid-contents">
            <h4 class="ttm-fid-inner">
                <span   data-appear-animation="animateDigits"
                    data-from="0"
                    data-to="{{ block.number }}"
                    data-interval="4"
                    data-before=""
                    data-before-style="sup"
                    data-after=""
                    data-after-style="sub"
                    class="numinate">
                    {{ block.number }}
                </span>
            </h4>
            <h3 class="ttm-fid-title">{{ block.heading }}</h3>
        </div>
    </div>
{% if not text %}
</div>
{% endif %}
{% endfor %}
{% endif %}