{#
==================================================
    Call To Action (callToAction)
    Variable:
        - Block (Block)

    Fields:
        - CTA (cta) [Entries]
        - Margin Top (marginTop)
        - Margin Bottom (marginBottom)
        - Padding Top (paddingTop)
        - Padding Bottom (paddingBottom)
==================================================
#}
{{ craft.app.config.general.devMode ? ('<!-- Template: ' ~ _self ~ ' -->') | raw }}
{% import '_includes/macros' as render %}

{% set marginTop = block.marginTop.getExtras() %}
{% set marginBottom = block.marginBottom.getExtras() %}
{% set paddingTop = block.paddingTop.getExtras() %}
{% set paddingBottom = block.paddingBottom.getExtras() %}

{% set blockClasses = [
    "block block--#{block.type}",
    marginTop.classes|default(null),
    marginBottom.classes|default(null),
    paddingTop.classes|default(null),
    paddingBottom.classes|default(null)
] %}

{% set blockStyles = {} %}

{% set id = "block-#{block.getId()}" %}

{# Section attributes #}
{% set attributes = {
    id: id,
    class: blockClasses,
    style: blockStyles
} %}

{% if block.cta|length %}
{% set cta = block.cta.one() %}
<section {{ attr(attributes) }}>
    {% for block in cta.ctaBuilder.all() %}
        {% include "_partials/ctaBuilder/" ~ block.type %}
    {% endfor %}
</section>
{% endif %}